// Variables

// Colors
$destaque: #8E2424;
$hover-destaque: #b02c2c;
$title-color: #101828;
$text-color: #667085;
$logo-color: #3a404e;
$main-bg: #fff;
$section-bg: rgba(192, 25, 25, 0.15);
$depoimentos-bg: rgba(195, 25, 25, 0.03);
$white: #fff;
$black: #000;
$menu-bg-hover: #97a5c4;
$bg-menu-hover: #667085;
$bg-footer: #F9FAFB;
$copyright-color: #98A2B3;
$hover-links: #8E2424;
$hover-jobs: #aab5c843;
$hover-jobs-border: 1px solid #828386;
$hover-avatar: 0px 0px 18px 0px #8E2424;

//  Fonts 
$font: 'Inter', sans-serif;

// Size 
$text-size: 1rem;

// Shadows
$shadow1: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
$shadow2: 2px 6px 10px 0px rgba(0, 0, 0, 0.2);
$shadow3: 2px 4px 8px -1px rgba(0, 0, 0, 0.567);
$shadow4: 0px 4px 8px -1px rgba(0, 0, 0, 0.3);
$shadow5: 0px 1px 6px -1px rgba(16, 24, 40, 0.149);
$shadow-avatar: 0px 0px 10px 0px #8E2424;

// Borders
$border-jobs: 1px solid #EAECF0;

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a, li {
    text-decoration: none;
    list-style-type: none;
}
// Code
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin destaque {
    color: $destaque;
    font-weight: 500;
}
@mixin title {
    color: $title-color;
    font-weight: 600;
}
@mixin text {
    color: $text-color;
    font-weight: 400;
}
@mixin hover-destaque {
    &:hover {
        cursor: pointer;
        background-color: $hover-destaque;
        box-shadow: 0 0 5px 0 $hover-destaque;
        transition-duration: 125ms;
    }
}
@mixin hover-links {
    &:hover {
        color: $hover-links;
        transition-duration: 125ms;
    }
}

// Base
html, body {
    background-color: $main-bg;
    font-family: $font;
    font-size: $text-size;
    
}